{% extends '::backend.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).on('change', '#limit-select', function () {
            var limit = $(this).val();
            $.ajax({
                type: 'post',
                url: '{{ path('ls_gas_station_order_set_limit_admin') }}',
                data: {
                    'limit': limit
                },
                success: function (response) {
                    window.location.pathname = '{{ path('ls_gas_station_order_list_admin') }}';
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Wyszukiwanie</div>
                <div class="panel-body">
                    {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
                        <div class="form-group">
                            {{ form_label(form.clientName, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.clientName, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.carRegistrationNumber, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.carRegistrationNumber, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.orderDateFrom, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.orderDateFrom) }}
                            </div>
                            <div class="col-sm-offset-3 col-sm-9"><small>Aby poprawnie wyszukiwać po dacie muszą być wypełnione wszystkie pola</small></div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.orderDateTo, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.orderDateTo) }}
                            </div>
                            <div class="col-sm-offset-3 col-sm-9"><small>Aby poprawnie wyszukiwać po dacie muszą być wypełnione wszystkie pola</small></div>
                        </div>

                        <div class="col-sm-offset-3 col-sm-9">
                            <input type="submit" class="btn btn-default" value="Szukaj" />
                            <a href="{{ path('ls_gas_station_order_list_admin') }}" class="btn btn-default">Wyczyść</a>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        
        <div class="col-xs-12">
            {% if entities|length > 0 %}
                <div class="panel panel-default table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>
                                {{ knp_pagination_sortable(entities, 'Nr', 'o.documentExternalId') }}
                                {% if entities.isSorted('o.documentExternalId') and entities.getDirection() == 'asc' %}
                                    <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                                {% endif %}
                                {% if entities.isSorted('o.documentExternalId') and entities.getDirection() == 'desc' %}
                                    <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                                {% endif %}
                            </th>
                            <th>
                                Klient
                            </th>
                            <th>
                                Kierowca
                            </th>
                            <th>
                                {{ knp_pagination_sortable(entities, 'Rejestracja auta', 'o.carRegistrationNumber') }}
                                {% if entities.isSorted('o.carRegistrationNumber') and entities.getDirection() == 'asc' %}
                                    <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                                {% endif %}
                                
                                {% if entities.isSorted('o.carRegistrationNumber') and entities.getDirection() == 'desc' %}
                                    <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                                {% endif %}
                            </th>
                            <th>
                                Łączna kwota netto
                            </th>
                            <th>
                                Łączna kwota brutto
                            </th>
                            <th>
                                {{ knp_pagination_sortable(entities, 'Data zakupu', 'o.date') }}
                                {% if entities.isSorted('o.date') and entities.getDirection() == 'asc' %}
                                    <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                                {% endif %}
                                
                                {% if entities.isSorted('o.date') and entities.getDirection() == 'desc' %}
                                    <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                                {% endif %}
                            </th>
                            <th>
                                Szczegóły
                            </th>
                        </tr>
                        </thead>
                        <form action="{{ path('ls_gas_station_order_set_limit_admin') }}" method="post">
                            <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td class="text">{{ entity.documentExternalId }}</td>
                                    <td class="text">{{ entity.client.name }}</td>
                                    <td class="text">{{ entity.driverFullName | title }}</td>
                                    <td class="text">{{ entity.carRegistrationNumber }}</td>
                                    <td class="text">{{ entity.getTotalPriceNet }}</td>
                                    <td class="text">{{ entity.getTotalPriceGross }}</td>
                                    <td class="text">{{ entity.date | date('d-m-Y H:i:s', 'Europe/Warsaw') }}</td>
                                    <td class="text">
                                        <button type="button" 
                                                class="btn btn-info" 
                                                data-toggle="collapse" 
                                                data-target="#order-{{ entity.id }}" 
                                                aria-expanded="false" 
                                                aria-controls="order-{{ entity.id }}">Pokaż</button>
                                    </td>
                                </tr>
                                <tr class="collapse" id="order-{{ entity.id }}">
                                    <td colspan="7">
                                        <table class="table table-bordered">
                                            <thead>
                                                <th colspan="4">Produkt</th>
                                                <th>Ilość</th>
                                                <th>Kwota netto</th>
                                                <th>Kwota brutto</th>
                                            </thead>
                                            <tbody>
                                                {% for lineItem in entity.lineItems %}
                                                    <tr>
                                                        <td colspan="4">{{ lineItem.product.name }}</td>
                                                        <td>{{ lineItem.quantity }}</td>
                                                        <td>{{ lineItem.totalPriceNet }}</td>
                                                        <td>{{ lineItem.totalPriceGross }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                            
                                        </table>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="5">
                                    <div class="form-inline">
                                        <div class="pull-right">
                                            <span>Strona {{ page }} z {{ entities.getPageCount }} - {{ entities.getTotalItemCount }} wyników - na stronie</span>
                                            <select id="limit-select" class="form-control">
                                                <option value="15"{% if limit == 15 %} selected="selected"{% endif %}>15</option>
                                                <option value="25"{% if limit == 25 %} selected="selected"{% endif %}>25</option>
                                                <option value="50"{% if limit == 50 %} selected="selected"{% endif %}>50</option>
                                                <option value="100"{% if limit == 100 %} selected="selected"{% endif %}>100</option>
                                                <option value="150"{% if limit == 150 %} selected="selected"{% endif %}>150</option>
                                                <option value="200"{% if limit == 200 %} selected="selected"{% endif %}>200</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% if entities.getPageCount > 1 %}
                                <tr>
                                    <td class="pagination-container" colspan="5">
                                        {{ knp_pagination_render(entities) }}
                                    </td>
                                </tr>
                            {% endif %}
                            </tfoot>
                        </form>
                    </table>
                </div>
            {% else %}
                <h4 class="text-center">Brak elementów w bazie</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block modals %}
{% endblock %}
