{% extends '::backend.html.twig' %}

{% block body %}
    <div class="login-panel">
        <div class="login-panel-top"></div>

        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="panel panel-default drop-shadow">
            <form action="{{ path("ls_user_admin_login_check") }}" method="post" role="form" novalidate="novalidate">
                <div class="panel-body">

                    {% if error %}
                        <div class="alert alert-danger alert-error">{{ error.messageKey|trans(error.messageData, 'LsUserBundle') }}</div>
                    {% endif %}

                    <div class="form-group">
                        <label for="username">{{ 'security.login.username'|trans({}, 'LsUserBundle') }}</label>
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
                    </div>


                    <div class="form-group">
                        <label for="password">{{ 'security.login.password'|trans({}, 'LsUserBundle') }}</label>

                        <input type="password" class="form-control" id="password" name="_password" required="required" />
                    </div>

                    <div class="checkbox control-group">
                        <label for="remember_me">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            {{ 'security.login.remember_me'|trans({}, 'LsUserBundle') }}
                        </label>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="{{ 'security.login.submit'|trans({}, 'LsUserBundle') }}" />
                    <a href="{{ path('ls_user_password_recovery_request_create') }}">Nie pamiętasz hasła?</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
