<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <title>System Ewidencji Tankowań LemonadeStudio.Flota</title>
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta name="Description" content="{% block description %}{{ cms_config.get('seo_description', '') }}{% endblock %}" />
        <meta name="Keywords" content="{% block keywords %}{{ cms_config.get('seo_keywords', '') }}{% endblock %}" />
    {% endblock %}
    
    {% block stylesheets %}
        <link href="{{ asset('bundles/lscore/front/css/normalize.css') }}" type="text/css" rel="stylesheet" media="all" />
        <link href="{{ asset('bundles/lscore/front/css/style.css') }}" type="text/css" rel="stylesheet" media="all" />
    {% endblock %}
    
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/lscore/front/images/favicon.png') }}" />
</head>
<body>
    {% set currentRoute = app.request.attributes.get('_route') %}

    <div id="page">
        <div class="container clearfix">
            <div class="left-col">
                <img src="{{ asset('bundles/lscore/front/images/logo.png') }}" alt="Lemonade Studio" />
                <div class="short-line"></div>
                <a href="{{ path('ls_core_admin') }}" class="rounded-btn">Zaloguj się na konto testowe</a>
            </div>
            <div class="right-col">
                <h2 class="green-header">Przyjazny system ewidencji tankowań dla stacji benzynowych:</h2>
                <ul>
                    <li>-  zarządzanie bazą Klientów i tworzenie kont dla użytkowników</li>
                    <li>-  niezawodna integracja z systemem sprzedaży na stacji</li>
                    <li>-  automatyczne i szybkie pobieranie danych dotyczących transakcji</li>
                    <li>-  czytelna i przyjazna prezentacja danych dla klienta (właściciela floty)</li>
                    <li>-  możliwość filtrowania oraz szybkiego wyszukiwania transakcji</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="site-wide-line"></div>
    {% block content %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
