{% extends '::frontend.html.twig' %}

{% block title %}Galerie - {{ parent() }}{% endblock %}

{% block content %}
    {% include "LsGalleryBundle:Front:list.html.twig" with {'entities': entities} %}
{% endblock %}