{% extends '::backend.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <strong>Wystąpił błąd!</strong> {{ flashMessage }}<br />
        </div>
    {% endfor %}
        
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Sukces!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}
    
    <div class="row">
        <div class="col-sm-12">{{ wo_render_breadcrumbs() }}</div>
    </div>

    <div class="row">
        {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
            <div class="col-sm-offset-1 col-sm-6">
                {{ form_widget(form.password) }}
            </div>

            <div class="col-sm-offset-1 col-sm-6">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}