{% extends '::backend.html.twig' %}
{% form_theme form with 'LsCoreBundle:Backend:fields.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Błąd!</strong> {{ flashMessage }}
                    {{ form_errors(form.clientName) }}
                    {{ form_errors(form.email) }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Sukces!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}
    
    <div class="row">
        <div class="col-sm-12">{{ wo_render_breadcrumbs() }}</div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}

                <div class="form-group{% if form.clientName.vars.errors|length %} has-error has-feedback{% endif %}">
                    {{ form_label(form.clientName, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.clientName, {'attr': {'class': 'form-control' }}) }}
                        {% if form.clientName.vars.errors|length %}
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group{% if form.email.vars.errors|length %} has-error has-feedback{% endif %}">
                    {{ form_label(form.email, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control' }}) }}
                        {% if form.email.vars.errors|length %}
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        {% endif %}
                    </div>
                </div>
                
                <div style="border-top: 1px solid #ddd; margin-bottom: 15px;"></div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}