/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-01-03, 15:40:03
    Author     : Tomek
*/
body, html {
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
}
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
#page {
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    height:100%;
    position: relative;
    z-index: 1001;
    width: 100%;
    &:before {
        background-color: rgba(#15264a, .86);
        content: "";
        position: absolute;
        z-index: 1002;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    .container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0 auto;
        width: 805px;
        z-index: 1003;
        .left-col, .right-col {
            width: 50%;
        }
        .left-col {
            float: left;
            text-align: center;
            .short-line {
                background-color: #4f5972;
                height: 2px;
                margin: 20px auto 40px;
                width: 70px;
            }
            a {
                border: 2px solid #909c03;
                border-radius: 25px;
                color: #fff;
                height: 45px;
                font: {
                    size: 12px;
                }
                line-height: 45px;
                display: block;
                max-width: 250px;
                margin: 0 auto;
                text-transform: uppercase;
                text-decoration: none;
                transition: background .2s;
                width: 100%;
                &:hover {
                    background-color: #909c03;
                }
            }
        }
        .right-col {
            float: right;
            margin-top: 32px;
            h2 {
                color: #bfba16;
                font: {
                    size: 15px;
                }
                margin: 0 0 35px;
                text-transform: uppercase;
            }
            ul {
                list-style: none;
                padding-left: 0;
                li {
                    color: #fff;
                    font: {
                        size: 12px;
                    }
                    margin-bottom: 5px;
                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 815px) {
    #page {
        .container {
            width: 320px;
            .left-col, .right-col {
                width: 100%;
            }
            .right-col {
                align-self: flex-start;
                text-align: center;
                ul {
                    text-align: left;
                }
            }
        }
    }
}
@media screen and (max-width: 340px) {
    #page {
        .container {
            width: 220px;
            .left-col {
                img {
                    max-width: 100%;
                    display: block;
                }
            }
        }
    }
}

