{% extends '::frontend.html.twig' %}

{% block title %}{{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block content %}
    <div>
        <div>{{ entity.title }}</div>
        <div>{{ entity.content|raw }}</div>
    </div>
{% endblock %}