{% extends '::backend.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="panel panel-default drop-shadow user-password-recovery-request">
        <div class="panel-heading">Odzyskiwanie hasła</div>

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <strong>Wystąpił błąd!</strong> {{ flashMessage }}<br />
                {{ form_errors(form.email) }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <strong>Sukces!</strong> {{ flashMessage }}
                    </div>
                </div>
            </div>
        {% endfor %}

        {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
            <div class="form-group">
                {{ form_label(form.email, null, {'label_attr': {'class': 'col-sm-2 control-label' }}) }}
                <div class="col-sm-6">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control' }}) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-primary" value="Wyślij" />
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
